{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

    body {
        font-family: 'Lato', sans-serif;
        background: linear-gradient(to bottom, #bb301a, #ed7e59);
    }

    .container {
        width: 80%;
        margin: auto;
        padding-top: 20px;
        color: #202021;
        background-color: #f3c7b9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    }

    .section {
        background-color: #fce9e4;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }

    h1, h2, h3 {
        color: #1c1d1d;
    }

    p, li {
        color: #2c2c2c;
    }

    .button {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #54362d;
        color: #fff7f5;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        display: inline-block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 5px 0;
    }

    a {
        color: #54362d;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }


    .btn-custom {
        background-color: #54362d;
        color: white;
        border: none;
        border-radius: 20px; /* membuat tombol ujungnya oval */
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold; /* teksnya menjadi tebal */
        margin-bottom: 10px;
    }

    .btn-custom:hover {
        background-color: #6c4a3c; /* ubah warna saat tombol dihover */
    }
</style>

<div class="container">
    <h1>Judul: {{ series_title }}</h1>

    <div class="section">
        {% if episode.is_released %}
        <form id="tontonForm">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ episode_details.id_series }}">
            <input type="hidden" name="tipe" value="series">
            <label for="progress">Progress Tontonan (0-100):</label>
            <input type="number" id="progress" name="progress" min="0" max="100" required>
            <input type="hidden" name="durasi" value="{{ episode_details.durasi }}">
            <button class="button" type="button" onclick="submitTontonForm()">Tonton</button>
        </form>
        {% endif %}

    </div>
    {% if episode %}
    <h2>Sub Judul: {{ episode.sub_judul }}</h2>
    <div class="section">
        <h3>Sinopsis Episode:</h3>
        <p>{{ episode.sinopsis }}</p>
    </div>
    <div class="section">
        <p><strong>Durasi Episode:</strong> {{ episode.durasi }}</p>
        <p><strong>Tanggal Rilis Episode:</strong> {{ episode.release_date }}</p>
        <p><strong>URL Episode:</strong> <a href="{{ episode.url_video }}">Watch Episode</a></p>
        <!-- Tombol Tonton hanya ditampilkan jika episode sudah dirilis -->
        {% if episode.release_date <= 'today'|date:"Y-m-d" %}
        <form method="POST" action="{% url 'add_tonton' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ episode.id }}">
            <input type="hidden" name="tipe" value="episode">
            <label for="progress">Progress Tontonan (0-100):</label>
            <input type="number" id="progres" name="progress" min="0" max="100" required>
            <input type="hidden" name="durasi" value="{{ episode.durasi }}">
            <button class="button" type="submit">Tonton</button>
        </form>
        {% endif %}
    </div>
    {% else %}
    <p>Episode tidak ditemukan.</p>
    {% endif %}

    <div class="section">
        <h3>Episode Lainnya:</h3>
        <ul>
            {% for episode in episodes %}
            <li>
                <a href="{% url 'tayangan:episode' episode.1 episode.0 %}">
                    <button class="btn-custom">Episode {{ episode.0|add:1 }}</button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function submitTontonForm() {
        const form = document.getElementById('tontonForm');
        const formData = new FormData(form);

        fetch("{% url 'tayangan:add_tonton' %}", {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Tontonan berhasil ditambahkan!');
                    // Optionally, update the UI to reflect the changes
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                console.error('There was an error:', error);
            });
    }
</script>
{% endblock content %}