{% extends 'base.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    body {
        font-family: 'Lato', sans-serif;
        background: linear-gradient(to bottom, #bb301a, #ed7e59);
    }
    .container {
        width: 80%; margin: auto; padding: 20px;
        background-color: #f3c7b9; border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    }
    .section {
        background-color: #fce9e4; padding: 15px;
        border-radius: 5px; margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }
    h1, h2, p {
        color: #1c1d1d; margin-bottom: 10px;
    }
    a { color: #54362d; text-decoration: none; }
    .button {
        padding: 10px 20px; margin-top: 10px;
        background-color: #54362d; color: #fff7f5; border-radius: 5px;
        border: none; cursor: pointer; font-size: 16px; display: inline-block;
    }
    ul, li {
        list-style-type: none; padding: 0; margin: 0;
    }
</style>

<div class="container">
    <h1 class="mb-3">Halaman Series: The Crown</h1>
    <div class="section">
        <h2>Total View: 4,500,000</h2>
        <h2>Rating Rata-Rata: 9.2/10</h2>
    </div>
    <div class="section">
        <p><strong>Sinopsis:</strong> The gripping, decades-spanning inside story of Her Majesty Queen Elizabeth II and the Prime Ministers who shaped Britain's post-war destiny.</p>
        <p><strong>Genre:</strong> Drama, History</p>
        <p><strong>Asal Negara:</strong> United Kingdom</p>
    </div>
    <div class="section">
        <p><strong>Pemain:</strong> Claire Foy, Matt Smith, Olivia Colman</p>
        <p><strong>Penulis Skenario:</strong> Peter Morgan</p>
        <p><strong>Sutradara:</strong> Stephen Daldry</p>
    </div>
    <div class="section">
        <p><strong>Episode:</strong></p>
        <ul>
            <li><a href="http://example.com/episode1">Episode 1</a></li>
            <li><a href="http://example.com/episode2">Episode 2</a></li>
            <li><a href="http://example.com/episode3">Episode 3</a></li>
        </ul>
    </div>
    <div class="section">
        <button class="button">Unduh Tayangan</button>
        <button class="button">Favorit Tayangan</button>
    </div>
</div>
{% endblock content %}
