{% extends 'base.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    body {
        font-family: 'Lato', sans-serif;
        background: linear-gradient(to bottom, #bb301a, #ed7e59);
    }
    .container {
        width: 80%; margin: auto; padding: 20px;
        background-color: #f3c7b9; border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    }
    .section {
        background-color: #fce9e4; padding: 15px;
        border-radius: 5px; margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }
    h1, h2, p {
        color: #1c1d1d; margin-bottom: 10px;
    }
    a { color: #54362d; text-decoration: none; }

    .button {
        padding: 10px 20px; margin-top: 10px;
        background-color: #54362d; color: #fff7f5; border-radius: 5px;
        border: none; cursor: pointer; font-size: 16px; display: inline-block;
    }
    ul, li {
        list-style-type: none; padding: 0; margin: 0;
    }

    .btn-custom {
        background-color: #54362d;
        color: white;
        border: none;
        border-radius: 20px; /* membuat tombol ujungnya oval */
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold; /* teksnya menjadi tebal */
        margin-bottom: 10px;
    }

    .btn-custom:hover {
        background-color: #6c4a3c; /* ubah warna saat tombol dihover */
    }

</style>

<div class="container">
    <h1 class="mb-3">Halaman Series: {{ series_details.judul }}</h1>
    <div class="section">
        <h2>Total View:</h2>
        <h2>Rating Rata-Rata:</h2>
    </div>
    <div class="section">
        <p><strong>Sinopsis:</strong>{{ series_details.sinopsis }}</p>
        <p><strong>Genre:</strong>
            {% for genre in series_details.genres %}
            {{ genre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Asal Negara:</strong> {{ series_details.asal_negara }} </p>
    </div>
    <div class="section">
        <p><strong>Pemain:</strong>
            {% for pemain in series_details.pemain %}
            {{ pemain }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Penulis Skenario:</strong>
            {% for penulis in series_details.penulis %}
            {{ penulis }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Sutradara:</strong> {{ series_details.sutradara }} </p>
    </div>
    <div class="section">
        <p><strong>Episode:</strong></p>
        <ul>
            {% for episode in series_details.episodes %}
            <li>
                <a href="{% url 'tayangan:episode' series_details.id_tayangan episode.0 %}">
                    <button class="btn-custom">{{ episode.sub_judul }}</button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <form method="POST" action="{% url 'insert_unduhan' %}">
            {% csrf_token %}
            <input type="hidden" name="id_tayangan" value="{{ id_tayangan }}">
            <button class="button" type="submit">Unduh Tayangan</button>
        </form>

        <form method="POST" action="{% url 'insert_favorit' %}">
            {% csrf_token %}
            <input type="hidden" name="id_tayangan" value="{{ id_tayangan }}">
            <button class="button" type="submit">Favorit Tayangan</button>
        </form>
        <button class="button">Ulasan</button>
    </div>
</div>
{% endblock content %}
