{% extends 'base.html' %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    body {
        font-family: 'Lato', sans-serif;
        background: linear-gradient(to bottom, #bb301a, #ed7e59);
    }
    .container {
        width: 80%; margin: auto; padding: 20px;
        background-color: #f3c7b9; border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    }
    .section {
        background-color: #fce9e4; padding: 15px;
        border-radius: 5px; margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }
    h1, h2, p {
        color: #1c1d1d; margin-bottom: 10px;
    }
    a { color: #54362d; text-decoration: none; }

    .button {
        padding: 10px 20px; margin-top: 10px;
        background-color: #54362d; color: #fff7f5; border-radius: 5px;
        border: none; cursor: pointer; font-size: 16px; display: inline-block;
    }
    ul, li {
        list-style-type: none; padding: 0; margin: 0;
    }

    .btn-custom {
        background-color: #54362d;
        color: white;
        border: none;
        border-radius: 20px; /* membuat tombol ujungnya oval */
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold; /* teksnya menjadi tebal */
        margin-bottom: 10px;
    }

    .btn-custom:hover {
        background-color: #6c4a3c; /* ubah warna saat tombol dihover */
    }

</style>

{% include 'navbar.html' %}
<div class="container">
    <h1 class="mb-3">Halaman Series: {{ series_details.judul }}</h1>
    <div class="section">
        <h2>Total View:</h2>
        <h2>Rating Rata-Rata:</h2>
    </div>
    <div class="section">
        <p><strong>Sinopsis:</strong>{{ series_details.sinopsis }}</p>
        <p><strong>Genre:</strong>
            {% for genre in series_details.genres %}
            {{ genre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Asal Negara:</strong> {{ series_details.asal_negara }} </p>
    </div>
    <div class="section">
        <p><strong>Pemain:</strong>
            {% for pemain in series_details.pemain %}
            {{ pemain }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Penulis Skenario:</strong>
            {% for penulis in series_details.penulis %}
            {{ penulis }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Sutradara:</strong> {{ series_details.sutradara }} </p>
    </div>
    <div class="section">
        <p><strong>Episode:</strong></p>
        <ul>
            {% for episode in series_details.episodes %}
            <li>
                <a href="{% url 'tayangan:episode' series_details.id_tayangan episode.0 %}">
                    <button class="btn-custom">{{ episode.sub_judul }}</button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <a href="{% url 'tayangan:unduh_tayangan' series_details.id_tayangan %}">
            <button type="button" class="btn btn-primary" id="btnUnduh" data-id="{{ series_details.id_tayangan }}">Unduh</button>
        </a>
        <button class="btn btn-primary mb-2" id="btnFavorit" data-bs-toggle="modal" data-bs-target="#favoriteListModal">Favorit Tayangan</button>
        <a href="{% url 'ulasan:ulasan' series_details.id_tayangan %}" class="button">Ulasan</a>
    </div>
</div>


<div class="modal fade" id="favoriteListModal" tabindex="-1" aria-labelledby="favoriteListModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="favoriteListModalLabelTitle">TAMBAH KE DAFTAR FAVORIT MODAL</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select mb-3" id="dropdown-favorite">
                    <option value="select-daftar-favorit">Judul Daftar Favorit: </option>
                    {% for judul_daftar in list_daftar_favorit %}
                    <option value="{{ judul_daftar }}">{{ judul_daftar }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a id="link_add_favorite" href="">
                    <button type="button" class="btn btn-primary" id="button_add_favorite" data-bs-dismiss="modal">Tambah</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="downloadModalLabelTitle">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</h1>
            </div>
            <div class="modal-body" id="downloadModalBody">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mb-2" id="btnDaftarUnduhan">Daftar Unduhan</button>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("btnTonton").addEventListener("click", function () {
            console.log("Menonton film...");
        });

        document.getElementById('btnUnduh').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent default behavior to avoid navigation
            var idSeries = this.getAttribute('data-id');
            var title = document.getElementById("judul").innerHTML;  // Assuming there is an element with id 'judul'
            var url = '{% url "tayangan:unduh_tayangan" "0" %}'.replace('0', idSeries);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);

                        var date = new Date();
                        date.setDate(date.getDate() + 7);
                        var message = "Selamat! Anda telah berhasil mengunduh " + title + " dan akan berlaku hingga " + date.toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric', year: 'numeric' }) + ". Cek informasi selengkapnya pada halaman daftar unduhan.";

                        document.getElementById('downloadModalBody').querySelector('p').textContent = message;
                        var downloadModal = new bootstrap.Modal(document.getElementById('downloadModal'));
                        downloadModal.show();
                    } else {
                        // Handle error
                        alert('Failed to add to download list.');
                    }
                }
            };

            xhr.send(JSON.stringify({}));
        });

        document.getElementById('btnDaftarUnduhan').addEventListener('click', function() {
            window.location.href = '{% url "daftar_unduhan:show_downloads" %}';
        });

    document.getElementById('dropdown-favorite').addEventListener('click', function(e) {
            var selected_daftar = e.target.options[e.target.selectedIndex].value;
            var judul_film = document.getElementById('judul').innerHTML;
            var url = 'favorit-series/' + judul_film + '/' + selected_daftar + '/';
            document.getElementById('link_add_favorite').setAttribute('href', url);
        });

    });
</script>
{% endblock content %}
